/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************/
body
{
  font-family:sans-serif;
}
#menu
{
  height: 2em;
  background-color: #044065;
  width:100%;
  padding-top: 0.5em;
  display:block;
  margin-bottom: 2em;
  border-bottom: 3px solid #F36704;
}

#menu li
{
  margin-left: 1em;
}

#menu a[href]
{
  color:white;
  font-size:large;
  text-transform:uppercase;
}


body
{
}

#content
{
  margin-left:2em;
}

h1{
  font-size:large;
  color:#044065;
  border-bottom: 1px solid #F36704;
  margin-bottom: 1em;
  max-width: 800px;
}
h1:hover
{
   color:#235674;
   border-bottom: 1px solid #B68830;
}


img
{
  vertical-align: middle;
}
.clear{clear:both;}

.pager_nav li
{
  display:inline;
  margin: 0.5em;
}

.pager_nav a[href]
{
  color:#044065;
}
.pager
{
  float:left;
  border: 1px solid #F36704;
  border-right:none;
  padding-left:1em;
  display:block;
  padding-top:0.5em;
  height:1.5em;
  background-color:#F9CA72;
}

.navigation
{

  padding:0.4em;
  font-size:small;
  color: #044065;
  margin:2em;
}
.pager_info
{
  float:left;
  display:block;
  padding-top:0.5em;
  padding-left:1.5em;
  padding-right:1.5em;
  height:1.5em;
  background-color:#F9CA72 ;
  border:1px solid #F36704;
  border-left:none;
  color:#F36704;
  min-width:500px;
}
/*** Progress bar in project ***/
div.progress-container {
  border: 1px solid #ccc; 
  width: 200px; 
  margin: 2px 5px 2px 0; 
  padding: 1px; 
  float: left; 
  background: white;
}

div.progress-container > div.trans {
  background-color: #ACE97C; 
  height: 12px;
  float:left;
}
div.progress-container > div.fuzzy {
  background-color: #F3A004; 
  height: 12px
}

.actions_list
{
  border:1px solid gray;
  background-color:#EBECEC;
  padding: 0.7em;
  width: 500px;
  margin-bottom:1.5em;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.projects li
{
  margin: 0.7em;
  margin-left: 2em;
  text-transform:capitalize; 
  list-style-image: url("/images/bullet.png");
}

.form_disabled label
{
  color:gray;
}

.msg_num
{
  font-size:small;
  color:gray;
}
.msg_num .num
{
  color:#F36704;
}


.lang_list li
{
  clear:left;
}
.translated_dep
{
  margin-left: 1em;
}

.translations
{
  width: 70%;
}
.translations tbody
{
  border:1px solid gray;
}
.translations tbody.spacing
{
  border:none;
}
.trans_cell
{
  padding-right:2px;
}
.translations textarea
{
  width:100%;
  border:1px solid gray;
}
.translations .original_message
{
  border:1px solid black;
  background-color:gray;
  padding:0.2em;
}
.original_message samp
{
  background:url(/images/translation-newline.png) center center no-repeat;
  padding:0 4px;
  white-space:pre;
}
.original_message em
{
  background:url(/images/translation-space.png) center center no-repeat;
  padding:0 4px;
  white-space:pre;
}
.suggestions, .o_msg
{ display:none;}

.trans_action
{
  vertical-align:middle;
}
.trans_but
{
  /*background-color:red*/
    vertical-align: middle;
  width:30px; 
  height:30px;
  margin-left: 5px;
  background:url(/images/search.png);
}
